/* 
https://patorjk.com/software/taag/#p=display&f=Big&t= 
*/

/* 
  _   _             ____             
 | \ | |           |  _ \            
 |  \| | __ ___   _| |_) | __ _ _ __ 
 | . ` |/ _` \ \ / /  _ < / _` | '__|
 | |\  | (_| |\ V /| |_) | (_| | |   
 |_| \_|\__,_| \_/ |____/ \__,_|_|   

*/

.navbar {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.navbar li {
    padding: 0.5rem 0;
    margin: 0 1rem;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

/* --------------- Navbar Footer */

.navbar-footer {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.navbar-footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.navbar-footer li {
    padding: 0.5rem 0;
    margin: 0 1rem;
}

.navbar-footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

/* 

  __  __       _       
 |  \/  |     (_)      
 | \  / | __ _ _ _ __  
 | |\/| |/ _` | | '_ \ 
 | |  | | (_| | | | | |
 |_|  |_|\__,_|_|_| |_|
                       
*/

h1 {
    margin: 2em 1em 0 1em;
}