#panier {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    display: flex;
    align-items: center;
}

#panier .titre {
    flex: 1;
    text-align: center;
    margin-right: 8px;
}

#panier .contenu {
    color: #00ad54;
    height: 1em;
}